@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-color: #007bff;
  --secondary-color: #28a745;
  --dark-color: #333333;
  --light-color: #f8f9fa;
  --error-color: #F44336;
  --warning-color: #ffC107;
  --success: #4caf50;
  --info-color: #2196f3;

  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Roboto', sans-serif;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;

  --border-radius: 8px;

  --grid-gutter-width: 16px;
  --desktop-column-width: 76px;
  --tablet-column-width: 80px;
  --mobile-column-width: 72px;
}

/* Override Bootstrap default colors */
:root {
  --bs-primary: var(--primary-color) !important;
  --bs-secondary: var(--secondary-color);
  --bs-success: var(--success);
  --bs-danger: var(--error-color);
  --bs-warning: var(--warning-color);
  --bs-info: var(--info-color);
  --bs-light: var(--light-color);
  --bs-dark: var(--dark-color);
}