@import './_variables.css';
@import './_typography.css';
@import './_layout.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  /* Concider adding images to the background */
  /*   background: url(../assets/25be551d-f2ec-43d7-a2b6-3e629d508a94.webp) no-repeat center center/cover; */
}

.btn {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}