@import './_variables.css';
@import './_typography.css';
@import './_layout.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
}
