.navbar-custom {
    background-color: var(--light-color);
}

.nav-link {
    color: var(--dark-color);
    transition: color 0.3s;
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link.active {
    color: var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
}

.navbar-brand {
    font-family: var(--font-primary);
    color: var(--primary-color);
}

.navbar-toggler {
    border-color: none;
}

/* Responsive Styles for Logout Button */
@media (max-width: 768px) {
    .navbar-nav {
        width: 100%;
        justify-content: space-between;
    }

    .logout-button {
        text-align: left;
        box-shadow: none !important;
        margin-right: 20px;
    }
}

/* Additional styles */
@media (min-width: 768px) {
    .navbar-nav {
        flex-direction: column;
    }

    .logout-button {
        text-align: left;
        box-shadow: none !important;
        margin-right: 20px;
    }
}