.booked-date {
  background-color: #e13b3b !important;
  color: #333 !important;
}

.react-calendar__tile--disabled {
  background-color: #e6e6e6 !important;
  color: #a0a0a0 !important;
}

.react-calendar__tile--disabled.booked-date {
  background-color: #ff9999 !important;
  color: #333 !important;
} 
.custom-calendar .react-calendar__tile {
  border: none; /* Remove default border */
  border-radius: 50%; /* Make the tiles circular */
  background-color: white; /* Background color for tiles */
  transition: background-color 0.3s; /* Smooth transition for hover */
  height: 44px; /* Increase height */
  width: 44px;  /* Increase width */
  display: flex; /* Use flexbox to center content */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

.custom-calendar {
  font-family: 'Poppins', sans-serif; /* Use your desired font */
  border: 1px solid #e5e5e5; /* Example border */
  padding: 20px; /* Padding around the calendar */
}

.custom-calendar .react-calendar__month-view__days {
  padding: 0; /* Remove padding around days */
}

.custom-calendar .react-calendar__tile {
  border: none; /* Remove default border */
  background-color: white; /* Background color for tiles */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.custom-calendar .react-calendar__tile:hover {
  background-color: #e0f7fa; /* Change background color on hover */
}

.custom-calendar .react-calendar__tile--active {
  background-color: #007bff; /* Active date background */
  color: white; /* Active date text color */
}

.custom-calendar .react-calendar__tile--now {
  background-color: #f0f0f0; /* Background for today */
}

.custom-calendar .react-calendar__tile--booked {
  background-color: #ffcccc; /* Booked dates background color */
  color: red; /* Booked dates text color */
}

/* Ensure your booked dates get this class */
.booked-date {
  background-color: #ffcccc; /* Color for booked dates */
}
