.booked-date {
  background-color: #e13b3b !important;
  color: #333 !important;
}

.react-calendar__tile--disabled {
  background-color: #e6e6e6 !important;
  color: #a0a0a0 !important;
}

.react-calendar__tile--disabled.booked-date {
  background-color: #ff9999 !important;
  color: #333 !important;
}

.custom-calendar .react-calendar__tile {
  border: none;
  border-radius: 50%;
  background-color: white;
  transition: background-color 0.3s;
  height: 44px;
  width: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-calendar {
  font-family: 'Poppins', sans-serif;
  border: 1px solid #e5e5e5;
  padding: 20px;
}

.custom-calendar .react-calendar__month-view__days {
  padding: 0;
}

.custom-calendar .react-calendar__tile {
  border: none;
  background-color: white;
  transition: background-color 0.3s;
}

.custom-calendar .react-calendar__tile:hover {
  background-color: #e0f7fa;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #007bff;
  color: white;
}

.custom-calendar .react-calendar__tile--now {
  background-color: #f0f0f0;
}

.custom-calendar .react-calendar__tile--booked {
  background-color: #ffcccc;
  color: red;
}

.booked-date {
  background-color: #ffcccc;
}